parameters:
  # Required
  - name: "ENVIRONMENT"
    type: string
    values:
      - DEV
      - UAT
    default: DEV
  - name: "CHECKOUT_RESOURCE_REPO_NAME"
    type: string
    default: self
  - name: "USER_WALLET_TOKEN_DEV"
    type: string
    default: ''
  - name: "USER_WALLET_TOKEN_UAT"
    type: string
    default: ''
  - name: "RUN_TEST_FOR"
    type: string
    default: ALL
    values:
      - ALL
      - PAYMENT
      - ONBOARDING

steps:
  - checkout: ${{parameters.CHECKOUT_RESOURCE_REPO_NAME}}
  - script: |
      rm -f e2e-tests/.env && cp e2e-tests/dev.env e2e-tests/.env && sed -i "s/^USER_WALLET_TOKEN.*$/USER_WALLET_TOKEN=${{parameters.USER_WALLET_TOKEN_DEV}}/" e2e-tests/.env
    displayName: 'Set env for E2E test (DEV)'
    condition: and(succeeded(), eq('${{parameters.ENVIRONMENT}}', 'DEV'))
  - script: |
      rm -f e2e-tests/.env && cp e2e-tests/uat.env e2e-tests/.env && sed -i "s/^USER_WALLET_TOKEN.*$/USER_WALLET_TOKEN=${{parameters.USER_WALLET_TOKEN_UAT}}/" e2e-tests/.env
    displayName: 'Set env for E2E test (UAT)'
    condition: and(succeeded(), eq('${{parameters.ENVIRONMENT}}', 'UAT'))
  - script: |
      cd e2e-tests && yarn install
    displayName: 'Yarn install'

  - script: |
      cd e2e-tests && yarn pw:install --with-deps
    displayName: 'Install Playwright browsers'

  - script: |
      cd e2e-tests && yarn pw:test
    displayName: 'Run Playwright E2E tests - Guest payment by card flows'

  - script: |
      cd e2e-tests &&  yarn test:NPG
    displayName: 'Yarn test NPG - payment and onboarding flows'
    condition: eq('${{parameters.RUN_TEST_FOR}}', 'ALL')
  - script: |
      cd e2e-tests &&  yarn test:NPG:payment
    displayName: 'Yarn test NPG - payment flow'
    condition: eq('${{parameters.RUN_TEST_FOR}}', 'PAYMENT')
  - script: |
      cd e2e-tests &&  yarn test:NPG:onboarding
    displayName: 'Yarn test NPG - onboarding flow'
    condition: eq('${{parameters.RUN_TEST_FOR}}', 'ONBOARDING')

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/*-TEST.xml'
      searchFolder: '$(System.DefaultWorkingDirectory)'
    condition: succeededOrFailed()
